@charset "utf-8";


/* ニュース
----------------------------------------------- */
div#newsarea dl {
	padding: 10px;
}

/* おすすめ
----------------------------------------------- */
table#rec_outer{
	border: none;
	width: 731px;
	margin: 10px 0;
}

table#rec_outer td{
	border: none;
	width: 140px;
	margin: 0 1px;
	padding: 0;
	vertical-align: top;
}

table#rec_inner{
	border: none;
	width: 140px;
	margin: 0;
	padding: 0;
}

table#rec_inner td{
	border: none;
}

table#rec_inner td{
	font-size: 11px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 0 0;
}

/* トップ
----------------------------------------------- */
ul#top_cont01{
	list-style: none;
	width: 744px;
	margin: 0 -13px 0 0;
	padding: 0;
}

ul#top_cont01 li{
	float: left;
	margin: 0 13px 5px 0;
	padding: 0;
}

/*.top_cont01_left{
	float: left;
}

.top_cont01_right{
	float: right;
}*/

/* ランキング
----------------------------------------------- */
ul.rank{
	width: 747px;
	margin: 0 -16px 0 0;
	padding: 0;
}

ul.rank li{
	float: left;
	border: 1px solid #646464;
	width: 230px;
	margin: 0 17px 0 0;
	padding: 0;
}

ul.rank .rank_img{
	margin: 0;
	padding: 0;
}

ul.rank li h4{
	color: #ffffff;
	font-weight: normal;
	width: 212px;
	height: 34px;
	margin: 0;
	padding: 14px 10px 5px 10px;
	overflow: hidden;
}

ul.rank li h4 a{
	color: #ffffff;
}

ul.rank li h4.rank01{
	background: url("../img/top/main_rank_ttl01.gif") left bottom no-repeat;
}

ul.rank li h4.rank02{
	background: url("../img/top/main_rank_ttl02.gif") left bottom no-repeat;
}

ul.rank li h4.rank03{
	background: url("../img/top/main_rank_ttl03.gif") left bottom no-repeat;
}

/* ようこそ
----------------------------------------------- */
#main_welcome{
	background: url("../img/top/main_welcome_bg.jpg") no-repeat;
	width: 655px;
	height: 140px;
	padding: 40px 38px 14px 38px;
}

#main_welcome p{
	width: 655px;
	height: 140px;
	overflow: hidden;
}

/*.mw_left{
	float: left;
	width: 435px;
	height: 140px;
	overflow: hidden;
}

.mw_right{
	float: right;
	width: 220px;
	height: 130px;
	text-align: right;
}*/

/* clearfix
----------------------------------------------- */
.rank_img:after,ul.rank li h4:after,
.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.rank_img,ul.rank li h4,
.clearfix{
	zoom: 1;
}