@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

table,img,p {
    border: 0;
}

img{
	vertical-align:bottom;
}

body {
	background: #f2f2f2;
/*	background-image: url("../img/common/foot_bg.gif") left bottom repeat-x;*/
	font-family: 'メイリオ',Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	font-size: 12px;
	line-height: 150%;
	letter-spacing:1px;
}

li {
    list-style-type: none;
}

select {
    border: solid 1px #ccc;
}

/*PHOTO*/
.picture {
    border: 1px solid #FFF;
}

/* ヘッダーバックグラウンド */
#wrap_all{
	background: url("../img/common/head_bg.gif") left top repeat-x;
}

/* フロート回り込み解除
----------------------------------------------- */
br.clear {
    clear: both;
    display: none;
    font-size: 0px;
    line-height: 0%;
    height: 0px
}

/* ユーザー設定
----------------------------------------------- */
.mb05{
	margin-bottom: 5px;
}

.mb10{
	margin-bottom: 10px;
}

.mb15{
	margin-bottom: 15px;
}

.mb20{
	margin-bottom: 20px;
}

.mb25{
	margin-bottom: 25px;
}

.mb30{
	margin-bottom: 30px;
}

.mb35{
	margin-bottom: 35px;
}

.mb40{
	margin-bottom: 40px;
}

.pt10{
	padding-top: 10px;
}

.ta_center{
	text-align: center;
}

/* リンク指定
----------------------------------------------- */
a{
	color: #000000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:hover img{
	filter: alpha(style=0,opacity=90);
	opacity: 0.9;
}

/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
    font-size: 100%;
    line-height: 150%;
}
.price { color: #CC6600; font-weight: bold; }
.attention { color: #CC6600; }
.mini { font-size: 90%; }
em {
    font-style: normal;
    color: #CC6600;
}
/* テーブル共通指定
----------------------------------------------- */
table  {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
		width:250px;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn {
    clear: both;
    margin: 15px 0 0 0;
    text-align: center;
}
.phototd {
    width: 75px;
    text-align: center;
}
.centertd {
    text-align: center;
}
.pricetd {
    text-align: right;
}
.pricetd em {
    font-weight: bold;
}
div#completetext {
    width: 470px;
    margin: 15px auto 0 auto;
    padding: 15px;
    border: 5px solid #ccc;
}
div#completetext em {
    font-weight: bold;
}
div#completetext p{
    padding: 20px 0 0 0;
    text-align: left;
}


/* ヘッダーロゴ
------------------------------------------------ */
#header{
	width: 980px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#header h1 a{
	position: absolute;
	background: url("../img/header/header_top_img.jpg") no-repeat;
	display: block;
	width: 980px;
	height: 101px;
	margin: 0;
	top: 0;
	left: 0;
}

#header h1 em{
	display: none;
}

#header h2{
	font-weight: normal;
	font-size: 10px;
	position: absolute;
	top: 2px;
	left: 29px;
	color: #ffffff;
}
/* ヘッダーナビ
----------------------------------------------- */
.g_menu{
	width: 970px;
	margin: 101px 0 0 0;
	padding: 7px 10px 7px 0;
}

.g_menu ul{
	margin: 0;
	padding: 0;
	float: right;
	color: #ffffff;
}

.g_menu ul li{
	float: left;
	margin: 0;
	padding: 0;
}

.g_menu ul li a{
	color: #ffffff;
	text-decoration: none;
}

.g_menu ul li a:hover{
	text-decoration: underline;
}

/* メインイメージ
----------------------------------------------- */
#top_img_area{
	background: #ffffff;
	width: 980px;
	margin: 0 auto;
	padding: 10px 0;
}

#top_img{
	width: 953px;
	margin: 0 auto;
}


/* フレーム
----------------------------------------------- */
div#container {
    width: 980px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    text-align: left;
}
#container:after {/* firefox背景色表示用 */
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

div#leftcolumn {
	float: left;
	width: 210px;
	padding: 10px 10px 0 10px;
}

/*div#leftcolumn h2 {
    padding: 15px 0 0 0;
}
div#leftcolumn h2 img{
		vertical-align: bottom;
}*/
div#rightcolumn {
    float: right;
    width: 166px;
}

div#rightcolumn h2 {
    padding: 15px 0 0 0;
}
div#rightcolumn h2 img{
		vertical-align: bottom;
}

/* メインコンテンツ
----------------------------------------------- */
/* 3カラム設定 */
div#three_maincolumn {
    float: left;
    width: 560px;
    padding: 15px 0 0 0;
		margin-left:34px;
}

div#three_maincolumn h2 {
    padding: 15px 0 0 0;
}

/* 2カラム設定 */
div#two_maincolumn {
	float: left;
	width: 731px;
	padding: 10px 10px 0 9px;
}

/*div#two_maincolumn h2 {
    padding: 15px 0 0 0;
}*/

.center_cont{
	width: 731px;
	margin: 0 0 20px 0;
	float: right;
}

.center_box{
	border: 1px solid #f2eee6;
	background: #ffffff;
	width: 727px;
	margin: 0 0 20px 0;
	padding: 2px;
	float: right;
}

.center_inner{
	background: #f2f2f2;
}

h2.center_ttl01{
	margin: 0 0 10px 0;
}

h2.center_ttl02{
	border-bottom: 1px solid #ffffff;
	margin: 0 0 10px 0;
}

/* 1カラム設定 */
div#one_maincolumn {
    padding: 10px 0 0 0;
}

/* レフトメニュー
----------------------------------------------- */
.left_box{
	border: 1px solid #f2eee6;
	background: #ffffff;
	width: 206px;
	margin: 0 0 10px 0;
	padding: 2px;
}

.left_inner{
	background: #f2f2f2;
}

h2.left_ttl{
	border-bottom: 1px solid #ffffff;
	margin: 0 0 10px 0;
}

.left_cont{
	width: 186px;
	padding: 0 10px 10px 10px;
}

/* カゴの中
----------------------------------------------- */
div.cartarea p {
    padding: 5px 0 10px 0;
}

div.cartarea p.item {
    padding: 0 0 10px 0;
}

div.cartarea .btn {
    padding: 0;
    text-align: center;
}

/* カテゴリー
----------------------------------------------- */

div#categoryarea li {
    padding: 0 0 0 20px;
    background: url("../img/common/left_cate_link01.gif") 0 8px no-repeat;
}
div#categoryarea li.onmark {
    background: url("../img/common/left_cate_link02.gif") 0 8px no-repeat;
}

div#categoryarea li a {
    display: block;
    padding: 3px 0;
}

/* ガイドリンク
----------------------------------------------- */
#guidearea {
    padding: 15px 0 0 0;
    line-height: 0;
}

/* ログイン
----------------------------------------------- */
div#loginarea p {
    padding: 8px 0 0 0;
}

div#loginarea .btn {
    text-align: right;
}

#loginarea .box96 {
    width: 140px;
    border: solid 1px #ccc;
}

/* 検索
----------------------------------------------- */
div#searcharea{
	position: relative;
}

div#searcharea .btn{
	position: absolute;
	top: -2px;
	left: 150px;
}

#searcharea .box142 {
    width: 130px;
    border: solid 1px #ccc;
}

/* カレンダー
----------------------------------------------- */
#block-calendar table{
	border-collapse: collapse;
	margin: 0 auto 10px;
	text-align:center;
}

#block-calendar th,
#block-calendar td{
	background: #ffffff;
	padding: 2px;
	border: 1px solid #CCCCCC;
}

#block-calendar th{
	background: #c7d8ed;
}

#block-calendar .off,
#block-calendar th.sun{
	background: #ffcccc;
}

#block-calendar caption {
	background: #f4f4f4;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

/* バナー
----------------------------------------------- */
ul#banner {
    padding: 15px 0 0 0;
}

#banner li {
    padding: 0 0 10px 0;
}

/* テキストフィールド
----------------------------------------------- */
input[type='text'] {
    border: solid 1px #ccc;
}

/* ボタン
----------------------------------------------- */
input[type='image'] {
    border: none;
}

input[type='image'].box190 {
    width: 190px;
    height: 30px;
}

input[type='image'].box180 {
    width: 180px;
    height: 30px;
}

input[type='image'].box150 {
    width: 150px;
    height: 30px;
}

input[type='image'].box140 {
    width: 140px;
    height: 30px;
}

input[type='image'].box130 {
    width: 130px;
    height: 30px;
}

/*input[type='image'].box51 {
    width: 51px;
    height: 22px;
}*/

/* フッター
----------------------------------------------- */
#pagetop{
	display: none;
}

#footer_contents{
	background: url("../img/common/foot_bg.gif") repeat-x;
	height: 94px;
}

#footer_area{
	position: relative;
	background: #f2f2f2;
	width: 980px;
	height: 21px;
	margin: 0 auto;
/*	margin-bottom: 10px;*/
	padding: 15px 0 3px 0;
	font-size: 11px;
	text-align: center;
}

#to_top {
	position: absolute;
	width: 980px;
	margin: 0 auto;
	text-align: right;
	top: -30px;
}

#footer {
	width: 980px;
	height: 35px;
	margin: 0 auto;
	margin-top: -49px;
	padding: 5px 0;
	background-color: #3a6592;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
}

#add_head{
	width:950px;
	padding:20px 0 10px 0;
	margin:0 auto;
}

/* clearfix
----------------------------------------------- */
h1:after,h2:after,h3:after,h4:after,h5:after,ul:after,p:after,#wrap_all:after,#header:after,.g_menu:after,#top_img_area:after,#container:after,.leftbox:after,.center_cont:after,.center_box:after,#to_top:after,#fotter_area:after,
.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

h1,h2,h3,h4,h5,ul,p,#wrap_all,#header,.g_menu,#top_img_area,#container,.leftbox,.center_cont:after,.center_box,#to_top,#fotter_area,
.clearfix{
	zoom: 1;
}