@charset "utf-8";


/* 検索結果
----------------------------------------------- */
p.conditionarea {
    clear: both;
    width: 566px;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #333;
}


/* ページ送り
----------------------------------------------- */
.pagenumberarea, .pagecondarea {
    clear: both;
    width: 730px;
    margin: 20px 0;
    padding: 10px;
    background-color: #f3f3f3;
}

ul.pagenumberarea {
    height: 2.5ex;
}

ul.pagecondarea {
    border: 1px solid #CCCCCC;
}

ul.pagenumberarea li {
    float: left;
    width: 32.9%;
}

ul.pagenumberarea li.left {
    text-align: left;
    white-space: nowrap;
}

ul.pagenumberarea li.center {
    text-align: center;
    white-space: pre;
}

ul.pagenumberarea li.right {
    text-align: right;
    white-space: nowrap;
}

.pagenumberarea .pagenumber{
    color: #ff0000;
    font-weight: bold;
}

p.pagenumberarea .number{
    font-weight: bold;
}

/* 商品一覧 */

/* タイトル
----------------------------------------------- */
div#listtitle {
    width: 750px;
    margin: 15px 0 10px 0;
    background-color: #9CB5B7;
}

div#listtitle h2 {
    padding: 7px 0 7px 10px;
    font-size: 130%;
		color:#FFF;
}

/* 商品
----------------------------------------------- */
div.listarea {
    clear: both;
    width: 750px;
    padding: 20px 0 30px 0;
    overflow: auto;
    background: url("../img/common/line_580.gif") no-repeat bottom;
}

div.listphoto {
    float: left;
    width: 130px;
}

div.listrightblock {
    float: right;
		margin-right:10px;
    width: 560px;
}

div.listrightblock li {
    display: inline;
    padding: 0 0 10px 0;
}

div.listrightblock h3 {
    width: 420px;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 120%;
}

div.listrightblock h3 a {
    font-size: 100%;
    font-weight: bold;
}

div.listrightblock .listcomment {
    margin: 0 0 10px 0;
}

div.listrightblock .pricebox {
    float: left;
}

div.listrightblock .subscribe {
    clear: both;
}

div.listrightblock .soldout {
    clear: both;
}

div.listrightblock .in_cart {
    margin: 20px 0 20px 0;
    padding: 10px 10px 5px 10px;
    width: 540px;
    clear: both;
		text-align:right;
    background-color: #EAEAEA;
}
div.listrightblock .in_cart p{
	margin-bottom:10px;
}
div.listrightblock .quantity {
    width: 150px;
}

div.listrightblock .btnbox {
    margin: 0 0 10px 0;
    padding: 1px;
    float: right;
}

div.listrightblock dt {
    width: 75px;
    float: left;
    text-align: right;
    padding: 3px;
    font-weight: bold;
}

div.listrightblock dd {
    padding: 3px;
}


div.listrightblock .cartbtn img {
    display: block;
    width: 115px;
    margin: 5px auto 0 auto;
}

div.listrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

/* 商品詳細 */

/* タイトル
----------------------------------------------- */
div#detailtitle {
    width: 750px;
    margin: 15px 0 10px 0;
    background-color: #9CB5B7;
}

div#detailtitle h2 {
    padding: 7px 0 7px 10px;
    font-size: 130%;
		color:#FFF;
}


/* 商品
----------------------------------------------- */
div#detailarea {
    width: 750px;
    margin: 15px 0 0 0;
}

div#detailphotoblock {
    float: left;
    width: 270px;
}

div#detailphotoblock p {
    margin: 5px 0 0 0;
}

div#detailrightblock {
    float: right;
    width: 410px;
		margin-right:10px;
}
div#detailrightblock p{
		color:#999;
}
div#detailrightblock li {
    display: inline;
}

div#detailrightblock h2 {
    margin: 15px 0;
    padding: 0;
    color: #31567E;
    font-size: 140%;
    font-weight: bold;
}

div#detailrightblock dl {
    padding: 15px 0 0 0;
}

div#detailrightblock dt {
    font-weight: bold;
    padding: 0 0 0 15px;
    background: url("../img/common/arrow_gray.gif") no-repeat left center;
}

div#detailrightblock dd {
    margin: 0 15px 0 0;
}

div#detailrightblock .box54 {
    width: 54px;
    border: solid 1px #ccc;
}

div#detailrightblock .btn {
    clear: both;
    margin: 10px 0 0 0;
    padding: 10px 10px 5px 10px;
    text-align: right;
		background:#EAEAEA;
}
div#detailrightblock .btn p{
	margin-bottom:10px;
}
.margin_t{
		margin-top:30px;
}


/* セット商品
----------------------------------------------- */
div#packagedarea {
    width: 310px;
    margin: 310px 0 0 0;
    overflow: auto;
}


/* サブタイトル
----------------------------------------------- */
div.subarea {
    clear: both;
    width: 580px;
    padding: 30px 0 0 0;
}

div.subarea h3 {
    width: 560px;
    font-size: 120%;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    background-color: #e4e4e4;
}

div.subtext {
    float: left;
    width: 365px;
}

div.subphotoimg {
    float: right;
    width: 202px;
}

div.subphotoimg p {
    margin: 5px 0 0 0;
    text-align:right;
}

/* セット商品
----------------------------------------------- */
div#packagedarea {
    clear: both;
    margin: 0px;
    width: 580px;
    padding: 35px 0 0 0;
}
div#packagedarea h2 {
    font-size: 14px;
    color: #FF6600;
}
div.packagedblock {
    margin: 0 0 0 20px;
    padding: 10px 0;
}
div.packagedblock .imageblock {
    float: left;
    margin-right: 20px;
}
div.packagedblock .imageblock img,
div.packagedblock .imageblock p {
    display:inline-block;
    vertical-align: middle;
    display:inline\9;
    zoom:1\9;
}

/* お客様の声
----------------------------------------------- */
div#customervoicearea {
    clear: both;
    width: 750px;
    padding: 35px 0 0 0;
}
div#customervoicearea p{
		color:#666;
}
div#customervoicearea h2 {
    padding: 0 0 10px 0;
}

div#customervoicearea .voicedate{
    font-weight: bold;
    margin: 10px 0 0 0;
}

div#customervoicearea .voicetitle{
    padding: 5px 0;
    font-size: 120%;
    font-weight: bold;
}

div#customervoicearea li {
    padding: 0 0 10px 0;
    background: url("../img/common/line_580.gif") no-repeat bottom;
}

/* トラックバック
----------------------------------------------- */
div#trackbackarea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div#trackbackarea h2 {
    padding: 0 0 10px 0;
}

div#trackbackarea h3 {
    font-size: 100%;
    font-weight: bold;
    padding: 0 0 10px 0;
}

div#trackbackarea .box500 {
    width: 500px;
    border: solid 1px #ccc;
}

/* この商品を買った人はこんな商品も買っています
----------------------------------------------- */
div#whoboughtarea {
    clear: both;
    width: 580px;
    padding: 35px 0 0 0;
}

div.whoboughtblock {
    clear: both;
    width: 580px;
    padding: 10px 0;
    overflow: auto;
}

div.whoboughtleft {
    float: left;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/common/line_578.gif") no-repeat bottom;
}

div.whoboughtleft img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtleft p {
    margin: 0 0 5px 0;
}

div.whoboughtright {
    float: right;
    width: 280px;
    padding: 10px 0;
    position: relative;
    background: url("../img/common/line_578.gif") no-repeat bottom;
}

div.whoboughtright img {
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

div.whoboughtright p {
    margin: 0 0 5px 0;
}

div.whoboughtleft h3 {
    font-size: 100%;
}

div.whoboughtright h3 {
    font-size: 100%;
}

/* ------- 2011.2.15 Ai Itsumi------- */

div.listrightblock dt {
margin-left:400px}


div.listrightblock .cartbtn img {
margin:10px 0 10px 423px}

.cartbtn{margin-top:10px;}

/* 商品の閲覧履歴
----------------------------------------------- */
div#producthistory {
    clear: both;
    padding: 10px 0 0 0;
}

div#producthistory table.item_img {
    width: auto;
    margin-left: 0px;
}

div#producthistory td {
    width: 130px;
}
