<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" class="LC_Page_Index">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="css/import.css" type="text/css" media="all" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://localhost../rss/" />
<script type="text/javascript" src="js/css.js"></script>
<script type="text/javascript" src="js/navi.js"></script>
<script type="text/javascript" src="js/win_op.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<title>three</title>
<link rel="shortcut icon" href="./img/common/favicon.ico" />
<link rel="icon" type="image/vnd.microsoft.icon" href="./img/common/favicon.ico" />
<script type="text/javascript">//<![CDATA[
    
    $(function(){
        
    });
//]]></script>
</head>

<!-- ▼BODY部 スタート -->

<body>
<noscript>
<p>JavaScript を有効にしてご利用下さい.</p>
</noscript>
<div class="frame_outer"> <a name="top" id="top"></a> 
  
  <!--▼HEADER-->
  <div id="header_wrap">
    <div id="header" class="clearfix">
      <p id="site_description">EC-CUBE発!世界中を旅して見つけた立方体グルメを立方隊長が直送！</p>
      <div id="logo_area">
        <h1> <a href="../"><span>three/</span></a></h1>
      </div>
      <div id="header_utility">
        <div id="header_navi">
          <ul>
            <li> <a href="#"><img src="img/page/header/btn_otoiawase.png" width="126" height="34" alt="お問い合わせ" /></a> </li>
            <li> <a href="#"><img src="img/page/header/btn_kagarogu.png" width="126" height="34" alt="カタログ" /></a> </li>
          </ul>
        </div>
      </div>
      <div class="hd_lnk_fax"> <a href="#">FAXからのご注文はコチラ▶</a> </div>
    </div>
    <nav class="navi">
      <ul class="glo_navi">
        <li><a href="#"><img src="img/page/navi/btn_top.png" width="123" height="51" alt="トップ"/></a></li>
        <li><a href="#"><img src="img/page/navi/btn_guide.png" width="122" height="51" alt="ガイド" /></a></li>
        <li><a href="#"><img src="img/page/navi/btn_company.png" width="122" height="51" alt="会社概要" /></a></li>
        <li><a href="#"><img src="img/page/navi/btn_item.png" width="122" height="51" alt="商品一覧" /></a></li>
        <li><a href="#"><img src="img/page/navi/btn_mypage.png" width="122" height="51" alt="マイページ" /></a></li>
        <li class="regist"><a href="#"><img src="img/page/navi/btn_regist.png" width="122" height="51" alt="会員登録" /></a></li>
        <li class="login"><a href="#"><img src="img/page/navi/btn_login.png" width="225" height="51" alt="ログイン" /></a></li>
      </ul>
    </nav>
  </div>
  <!--▲HEADER-->
  <div class="page_path"> <span>トップ</span> / <a href="#">ああ</a> / <a href="#">ううう</a> </div>
  <div id="container" class="clearfix">
    <div id="one_maincolumn" class="main_column"> 
      
      <!-- ▼MYページ購入詳細画面 -->
      <div id="mypagecolumn">
        <h2 class="title_s2">MYページ</h2>
        <div id="mynavi_area">
          <ul class="mynavi_list clearfix">
            <li><a href="./" class=" "><img src="img/page/mypage/navi/btn_top.png" alt="マイページトップ" width="138" height="45"></a></li>
            <li><a href="./" class=" "><img src="img/page/mypage/navi/btn_orderlist.png" alt="購入履歴一覧" width="138" height="45"></a></li>
            <li><a href="favorite.php" class=""><img src="img/page/mypage/navi/btn_favorite.png" alt="お気にいり一覧" width="138" height="45"></a></li>
            <li><img src="img/page/mypage/navi/btn_estimatemonth.png" alt="月額予算実績確認" width="138" height="45"></li>
            <li><a href="change.php" class=""><img src="img/page/mypage/navi/btn_edituser.png" alt="会員登録内容変更" width="138" height="45"></a></li>
            <li><a href="delivery.php" class=""><img src="img/page/mypage/navi/btn_address.png" width="138" height="45" alt="お届け先" /></a></li>
            <li><a href="refusal.php" class=""><img src="img/page/mypage/navi/btn_unregist.png" width="138" height="45" alt="退会手続き" /></a></li>
          </ul>
          <!--▼現在のポイント-->
          <div class="point_announce clearfix">
            <p>ようこそ&nbsp;／&nbsp;<span class="user_name">テスト 太郎様</span>&nbsp;現在の所持ポイントは&nbsp;<span class="point st">0pt</span>&nbsp;です。</p>
          </div>
          <!--▲現在のポイント--> 
        </div>
        <!--▲NAVI-->
        <div id="mycontents_area">
          <h3>あああ　様の月額予算実績</h3>
          <table>
            <colgroup>
            <col width="20%" />
            <col />
            <col width="30%" />
            </colgroup>
            <tr>
              <th>期間</th>
              <td>あああ</td>
              <td rowspan="5" class="alignC"><img src="img/page/mypage/btn_copyorder.png" width="178" height="33" alt="この購入日時内容で再発注" /></td>
            </tr>
            <tr>
              <th>月額予算金額</th>
              <td>あああ</td>
            </tr>
          </table>
          
          <!-- 購入実績合計期間ここから -->
          <table summary="使用ポイント">
            <colgroup>
            <col width="20%">
            <col width="80%">
            </colgroup>
            <tbody>
              <tr>
                <th class="alignL">ご購入実績合計期間</th>
                <td>0 pt</td>
              </tr>
              <tr>
                <th class="alignL">予算残高</th>
                <td>0 pt</td>
              </tr>
            </tbody>
          </table>
          <!-- 購入実績合計期間ここまで --> 
          
          <!--特集一覧-->
          <section class="special_list">
            <h3>特集一覧 </h3>
            <ul class="pure-g">
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
              <li class="pure-u-1-3"><img src="img/page/mypage/bnr_01.png" width="305" height="120" /></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
  
  <!--▼FOOTER-->
  <div id="footer_wrap">
    <div id="footer" class="clearfix">
      <div id="pagetop"><a href="#top"><img src="img/page/footer/btn_gototop.png" width="105" height="30" alt="トップへ" /></a></div>
      <div class="footer_information">
        <section class="footer_logo">
          <div> <img src="img/page/footer/footer_logo.png" width="279" height="79" alt="すりいでぃ" /> </div>
        </section>
        <section>
          <h3>すりいでぃ通販事業部</h3>
          <p>〒612-8452<br />
            京都府京都市伏見区中島堀端町２４　エムワイ２F<br />
            お問い合わせは、メール・電話・FAXにて承っております。<br />
            TEL:０７５－６０３－６２７７ FAX:０７５－６０３－６２７８<br />
            店舗連絡先:<strong>info@three-dimension.com</strong></p>
        </section>
        <section>
          <h3>東京本社</h3>
          <p>〒164-0011　東京都中野区中央5-29-11 サンメゾン中野102<br />
            TEL:03-5385-3755 FAX:03-5385-3772</p>
        </section>
      </div>
      <div class="footer_law_information">
        <p>古物営業法に基づく表示【名称】株式会社スリーディメンション【公安委員会】東京都公安委員会【許可番号】304390907222</p>
      </div>
      <div id="copyright">
        <ul>
          <li><a href="#">店舗案内</a></li>
          <li><a href="#">特定商取引法に関する表示</a></li>
          <li><a href="#">個人情報の取り扱いについて</a></li>
        </ul>
        <p>Copyright © 2005-2013 three All rights reserved. </p>
      </div>
    </div>
  </div>
  <!--▲FOOTER--> </div>
</body>
<!-- ▲BODY部 エンド -->

</html>