@charset "utf-8";

/************************************************
 ブロック用
************************************************ */
/*** 目次 ***

▼ブロック共通
リスト
タイトル
ヘッダー上、フッター下のブロックエリア

▼各機能ブロックの指定
-新着情報
-現在のカゴの中
-カテゴリ
-ガイドリンク
-ログイン（サイド用）
-検索
-カレンダー
-おすすめ商品
    *メインカラム用 1カラム時 [one_maincolumn]
    *メインカラム用 2カラム時 [two_maincolumn_left]
                              [two_maincolumn_right]
    *メインカラム用 3カラム時 [three_maincolumn]
    *サイドカラム用           [side_column]
    *商品詳細のオススメ商品   [whobought_area]
 */


/* ==============================================
ブロック共通
/* ============================================= */
#container .block_body {
    background-color: #fff;
}
.side_column {
    /*overflow-x: hidden;*/ /* IE6 表示乱れ防止 */
}

.side_column section{
	margin-top: 10px;
}
.side_column .block_outer {
    margin: 10px 7%;
}
.side_column .block_body,
.main_column .block_body {
    border: solid 1px #ccc;
    border-top: none;
}
.side_column .block_body .box {
    border: solid 1px #ccc;
    width: 145px;
}
.main_column .block_outer {
    margin-bottom: 20px;
}


/* リスト
----------------------------------------------- */
/* ログイン 検索条件 */
#container .block_outer .block_body dl.formlist {
    margin-bottom: 8px;
}
#container .block_outer .block_body dl.formlist dd {
    margin-bottom: 5px;
}
#container .block_outer .block_body dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    font-size: 90%;
}
#container .block_outer .block_body dl.formlist span {
    vertical-align: top;
}


/* タイトル
----------------------------------------------- */
/* タイトルの背景 白 */
#login_area h2,
#search_area h2,
#calender_area h2,
#cart_area h2,
#cart h2 {
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    font-size: 14px;
}
#category_area h2 {
    border-top: solid 1px #f90;
    background: url('../img/background/bg_tit_bloc_01.jpg') repeat-x left bottom;
    padding: 5px 0 8px 10px;
    font-size: 14px;
}

/* タイトルの背景 オレンジ */
#recommend_area h2,
#news_area h2 {
    padding: 5px 0 8px 10px;
    border-style: solid;
    border-color: #f90 #ccc #ccc;
    border-width: 1px 1px 0;
    background: url('../img/background/bg_btn_bloc_02.jpg') repeat-x left bottom #fef3d8;
}


/* ==============================================
▼ヘッダー上、フッター下のブロックエリア
=============================================== */
div#topcolumn {
    margin: 0px;
    clear: both;
}
div#bottomcolumn {
    margin: 0px;
    clear: both;
}


/* ***********************************************
▼各機能ブロックの指定
/*********************************************** */

/* ===============================================
▼新着情報
=============================================== */
#news_area .block_body {
    padding: 10px;
}
#news_area .news_contents {
    padding-right: 10px;
    max-height: 260px;
    height: auto !important;
    height: 260px;
    overflow: auto;
    overflow-y: scroll;
}

#news_area dl.newslist {
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}
#news_area dl.newslist dt {
    margin-bottom: 5px;
}
#news_area dl.newslist dd {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#news_area dl.end {
    padding: 10px 0;
    background: url("") no-repeat bottom;
}


/* ===============================================
▼現在のカゴの中
=============================================== */
#cart_area .information {
    padding: 10px;
}
#cart_area .postage {
    margin-top: 10px;
    padding-top: 10px;
    background: url("../img/background/line_dot_01.gif") repeat-x top;
}
#cart_area .postage .point_announce {
    padding: 2px 0 2px 20px;
    background: url("../img/icon/ico_price.gif") no-repeat left top;
}
#cart_area .btn {
    padding: 10px 0;
    background: url("../img/background/line_dot_01.gif") repeat-x top #f7f7e6;
    text-align: center;
}


/* ===============================================
▼カテゴリ
=============================================== */
#category_area .block_body {
    background-color: #fffaf0;
}

#category_area li {
    padding-left: 5px;
}
#category_area li.level1 {
    border-bottom: solid 1px #ccc;
}
#category_area li.level1 p {
    padding-left: 20px;
    margin: 7px 3px;
}
#category_area li.level1 p {
    background: url("../img/icon/ico_arrow_01.gif") 2px 3px no-repeat;
}
#category_area li.level1 li p {
    background: url("../img/icon/ico_level.gif") 7px 7px no-repeat;
}
#category_area li a {
    display: block;
    padding: 0;
}
a.onlink:link {
    color: #f00;
    text-decoration: underline;
}
a.onlink:visited {
    color: #f00;
}
a.onlink:hover {
    color: #f00;
}


/* ===============================================
▼ガイドリンク
=============================================== */
#guide_area {
    margin-top: 1em;
    border: none;
}
#guide_area li {
    margin-bottom: 5px;
    letter-spacing: -0.05em;
}
ul.button_like li {
    margin: 0;
    padding: 0 0 1px 0;
    background: url("../img/background/bg_btn_list.jpg") bottom repeat-x;
}
ul.button_like li a {
    margin: 0;
    padding: 10px 15px 10px 10px;
    border: 1px solid;
    border-bottom: none;
    border-color: #ccc;
    display: block;
    background: url("../img/icon/ico_arrow_02.gif") no-repeat right;
    text-decoration: none;
    outline: none;
}


/* ===============================================
▼ログイン（サイド用）
※ヘッダー用はbloc_alpha.css内に記述
=============================================== */
#container div#login_area .block_body {
    padding: 10px;
}

#container div#login_area .block_body p {
    margin-bottom: 5px;
}

#container div#login_area .block_body .btn {
    text-align: center;
}
#container .login_area dl.formlist {
    margin-bottom: 8px;
    width: 420px;
}
#container .login_area dl.formlist dt {
    margin-bottom: 3px;
    padding-left: 15px;
    color: #333;
    background: url("../img/icon/ico_arrow_03.gif") no-repeat left;
    width: 90px;
    float: left;
    font-size: 90%;
}
#container .login_area dl.formlist dd {
    margin-bottom: 5px;
    float: right;
    width: 300px;
    vertical-align: bottom;
    text-align: left;
}
#container div#login_area .block_body .mini {
    margin-top: 5px;
    letter-spacing: -0.01em;
}


/* ===============================================
▼検索
=============================================== */
div#search_area .block_body {
    padding: 10px;
}
div#search_area .block_body .btn {
    text-align: center;
}


/* ===============================================
▼カレンダー
=============================================== */
#calender_area {
    background-color: transparent;
    border: none;
}
#calender_area .block_body {
    padding: 10px 0;
    background-color: #f1f9fc;
}
#calender_area table {
    background: #fff;
    border: none;
    width: 150px;
    margin: 0 auto 5px;
    font-size: 90%;
}
#calender_area table td {
    padding: 1px 3px;
    border-top: 1px solid #ccc;
    border-right: none;
    text-align: center;
}
#calender_area th {
    padding: 1px 3px;
    background: #fff;
    border: none;
    text-align: center;
}
#calender_area table .month {
    margin-bottom: 5px;
    padding-left: 12px;
    background: url("../img/icon/ico_arrow_04.gif") no-repeat left;
    font-size: 120%;
}
#calender_area .off {
    color: #f00;
}
#calender_area .today {
    background-color: #FFF99D;
    font-weight: bold;
}
#calender_area .information {
    margin-left: 10px;
    font-size: 90%;
}


/* ===============================================
▼おすすめ商品
=============================================== */
/*
   tplファイルのマークアップが同じ項目
   メインカラム用 2カラム時 [two_maincolumn_left]
                            [two_maincolumn_right]
   メインカラム用 3カラム時 [three_maincolumn]
   サイドカラム用           [side_column]
   商品詳細のオススメ商品   [whobought_area]
=============================================== */
/* 共通
----------------------------------------------- */
#recommend_area .block_body,
#whobought_area .product_item {
    margin-bottom: 10px;
    padding: 10px 0 10px;
    border: none;
    background: url("../img/background/line_dot_01.gif") repeat-x bottom;
}

#recommend_area .block_body p,
#whobought_area .product_item p {
    margin: 0 0 5px 0;
}

#recommend_area .block_body img,
#whobought_area .product_item img {
    margin: 0 5px 0 0;
}

#recommend_area .block_body h3,
#whobought_area .product_item h3 {
    font-size: 100%;
    font-weight: normal;
}

/* サイドカラム用 */
.side_column #recommend_area .product_item {
    margin-bottom: 10px;
}


/* 画像
----------------------------------------------- */
/* メインカラム用 */
.main_column #recommend_area .block_body .productImage,
#whobought_area .product_item .productImage {
    margin-bottom: 10px;
    float: left;
    width: 90px;
}
/* サイドカラム用 */
.side_column #recommend_area .block_body .productImage {
    float: none;
    text-align: center;
    width: auto;
}


/* 左右の振り分け
----------------------------------------------- */
.main_column #recommend_area .product_item,
#whobought_area .product_item {
    float: left;
    width: 47.5%;
    padding-left: 1%;
    padding-right: 1%;
}


/* 商品説明テキスト
----------------------------------------------- */
/* メインカラム用 1カラム時*/
#one_maincolumn #recommend_area .block_body .productContents {
    float: right;
    width: 74%;
}

/* メインカラム用 2カラム時*/
#two_maincolumn_right #recommend_area .block_body .productContents,
#two_maincolumn_left #recommend_area .block_body .productContents,
#two_maincolumn_right #whobought_area .productContents,
#two_maincolumn_left #whobought_area .productContents {
    float: right;
    width: 74%;
}

/* メインカラム用 3カラム時*/
#three_maincolumn #recommend_area .block_body .productContents,
#three_maincolumn #whobought_area .productContents {
    float: right;
    width: 67%;
}

/* サイドカラム用 */
.side_column #recommend_area .block_body .productContents {
    clear: both;
}



/*検索ボックス*/
.search_box{
	border:1px solid #CCC;
}
.search_box h2{
	font-weight:bold;
	color:#fff;
	text-align:center;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	line-height:180%;
	background-image:url(../img/page/bloc/search_box/title_bg.png);
}
.search_box .box{
	border:1px solid #CCC;
	padding:5px 10px;
	background-color:#ccc;
}
.search_box .box input[type="text"]{
	width:70px;
	line-height:22px;
	border:none;
	border-left:1px solid #aaa;
	border-top:1px solid #aaa;
	padding-left:30px;
	padding-right:75px;
}
.search_box .box img{
	margin:5px 0 0 5px;
	position:absolute;
}
.search_box .box input[type="image"]{
	margin:5px 0px 0 115px;
	position:absolute;
}

/*カゴのなか*/
.cart_box{
	background-color:#CCC;
	padding:3px;
}
.cart_box h2{
	text-align:center;
	color:#333;
	line-height:180%;
	font-size:130%;
}
.cart_box dl{
	background-color:#fff;
	margin-top:1px;
	padding:5px;
}
.cart_box dl .price{
	color:#F00;
	font-weight:bold;
}
.cart_box dl strong{
	font-size:150%;
}
.cart_box dl dt{
	display:inline-block;
	width:50%;
}
.cart_box dl dd{
	display:inline-block;
	text-align:right;
	width:45%;
}
.cart_box .btn{
	padding:5px 0px;
}

/*カテゴリ*/
.category_box{
	background-color:#CCC;
	padding:3px;
}
.category_box h2{
	text-align:center;
	color:#333;
	line-height:180%;
	font-size:130%;
}
.category_box ul li{
	line-height:100%;
}

/*カレンダー*/
.calender_box{
	color:#000;
}
.calender_box h2{
	background-color:#AACDED;
	color:#000;
	padding-left:10px;
	line-height:180%;
}
.calender_box .box table{
	border:0px;
	margin:0px;
	padding:0px;
	letter-spacing:0px;
}
.calender_box .box table caption{
	text-align:center;
	line-height:250%;
}

.calender_box .box table th{
	padding:2px;
	margin:0px;
	text-align:center;
	border:none;
	background-color:#fff;
}
.calender_box .box table td{
	padding:2px;
	margin:0px;
	border:none;
	text-align:center;
}
.calender_box .box table span{
	display:block;
	padding:3px;
	text-align:center;
	border:1px solid #ccc;
}
.calender_box .box table th span{
	/*background-color:#FAE7C6;*/
}
.calender_box .box table span.saturday{
	/*background-color:#D0EBFE;*/
}
.calender_box .box table span.sunday{
	background-color:#FECCCB;
}
.calender_box .box table td span.free{
	background-color:#FECCCB;
}
.calender_box h4{
	padding:10px;
	vertical-align:middle;	
}
.calender_box p.information{
	letter-spacing:0px;
	font-size:10px;
}

/*新着情報*/
.news_box{
	border:1px solid #B1D5F7;
	margin-right:2.25%;
	width:48.6%;
}
.news_box ul{
	overflow-y:auto;
	height:200px;
}
.news_box ul li{
	padding:0px 5px;
	line-height:30px;
}
.news_box ul li span{
	font-weight:bold;
	color:#00F;
}
.news_box ul .row{
	background-color:#DFEDFA;
}
/*キャンペーン*/
.campaign_box {
	border:1px solid #B1D5F7;
	width:48.6%;
}
.campaign_box ul{
	overflow-y:auto;
	height:200px;
}
.campaign_box ul li{
	padding:0px 5px;
	line-height:30px;
}
.campaign_box ul .row{
	background-color:#DFEDFA;
}

.atukaishouhin_box {
	
}
.atukaishouhin_box ul li{
}

/*お問い合わせ*/
.otoiawase_info{
	background-color:#FEEACF;
	color:#000;
}
.otoiawase_info div{
	text-align:center;
	padding:4px;
}
.otoiawase_info h5{
	text-align:left;
	padding:5px 10px;
}
.otoiawase_info p{
	text-align:left;
	padding:5px 10px;
}

.tenpo_banner{
		
}
.tenpo_banner div{
	margin-top:5px;
	margin-bottom:5px;
}

/*インフォーメーション*/
.information_box{
}
.information_box .warp{
	background-color:#DFEBF7;
	padding:5px;
	width:100%;
	
}
.information_box .warp h2{
	padding:10px 0px;
}
.information_box .warp .alignR .box_warp{
	border-left:1px dotted #0066FF;
	width:93%;
	margin-left:25px;
	padding:0px 0px 0px 15px;
	text-align:left;
}

/*オススメポイント*/
.osusume_point_box{
	border-radius:5px;
	border:1px solid #6EACE7;
	background-color:#F7F7F7;
	padding:15px;
}
.osusume_point_box div.img{
	float:left;
	padding-right:20px;
}
.osusume_point_box h3{
	padding:15px 0px;
}

.osusume_shouhin_box{
}
.osusume_shouhin_box .box{
	width:100%;
	padding:15px;	
	background-color:#F7F7F7;	
}

.osusume_shouhin_box p{
	padding:5px 0px;
}
.osusume_shouhin_box h5{
	color:#4B99E3;
}
.osusume_shouhin_box .btn{
	background-color:#FEEACF;
	text-align:center;
	padding:15px 10px;
	border-radius:5px;
}
.osusume_shouhin_box .btn p{
	color:#FB6C04;
	font-weight:bold;
}

/*ページネーション*/
.paginator_box .sort_box{
	background-color:#F7F7F7;
	border:1px solid #ccc;
	padding:15px 0 10px 15px;
	line-height:30px;
}
.paginator_box .sort_box span{
	display:inline-block;
}
.paginator_box .sort_box span.count{
	text-align:left;
	
}
.paginator_box .sort_box span.sort{
}
.paginator_box .sort_box span.sort a{
	padding:0px 5px;
}
.paginator_box .sort_box span.page_max{
	border-left:1px dashed #000;
	padding-left:20px;
	width:17%;
	letter-spacing:1px;
}
.paginator_box .sort_box span.page_max select{
	display:inline;
}

.paginator_box .paging{
	padding:15px 15px;
}
.paginator_box .paging ul{
	display:inline-block;
}
.paginator_box .paging ul li{
	display:inline-table;
	padding:3px 0px;
}
.paginator_box .paging ul li a{
	display:block;
	padding:0px 5px;
	border-right:1px solid #ccc;
}
.paginator_box .paging ul li.next a{
	border:none;
}
/*商品リスト*/
.product_list_box .body section{
	color:#000;
}
.product_list_box .body section .warp{
	background-color:#F7F7F7;
	border:1px solid #ccc;
	padding:8px;
	margin:10px 2px;
}
.product_list_box .body section div.img{
	padding:5px 0px;
}
.product_list_box .body section h3{
	color:#333;
}
.product_list_box .body section p.icon{
	padding:5px 0px;
}
.product_list_box .body section p.icon img{
	padding:0px 2px;
}
.product_list_box .body section p.content{
	padding:5px 0px;
}
.product_list_box .body section p.price{
	padding:5px 0px;
	font-weight:normal;
	color:#333;
}
.product_list_box .body section div.member_price{
	padding:5px 0px;
}
.product_list_box .body section div.member_price em{
	color:#A50000;
	font-style:normal;
}
.product_list_box .body section div.member_price strong{
	color:#A50000;
	font-size:180%;
}
.product_list_box .body section div.count{
	line-height:25px;
}
.product_list_box .body section div.count *{
	display:inline-block;
	vertical-align:middle;
}
.product_list_box .body section div.count img{
}
.product_list_box .body section div.count input{
	margin:0px 2px;
}
.product_list_box .body section .btn_favorite{
	padding:5px 0px;
}
.product_list_box .body section .btn_regist{
	text-align:center;
	padding:10px;
	background-color:#FEEAD1;
}
.product_list_box .body .btn_regist p{
	padding-bottom:10px;
}


.product_detail_box .sub_img {
}
.product_detail_box .sub_img ul{
}
.product_detail_box .sub_img ul li{
}
.product_detail_box .sub_img ul li *{
}

.product_detail_info .warp{
	padding:10px;
}
.product_detail_info h3{
	padding:15px 10px;
	font-size:180%;
}
.product_detail_info h4{
	padding:5px;
}
.product_detail_info ul{
	border-top:2px solid #ccc;
}
.product_detail_info ul li{
	padding:5px 0px;
	border-bottom:1px dotted #ccc;
}
.product_detail_info ul li.price{
	font-size:150%;
	font-weight:bold;
	color:#900;
}

.product_detail_info ul li.icon .item{
	font-size:130%;
	font-weight:bold;
	display:inline-block;
	background-color:#facd89;
	border-radius:5px;
	display:inline-block;
	margin-right:1px;
	width:32%;
	position:relative;
}
.product_detail_info ul li.icon div img{
	padding:5px;
	position:absolute;
}
.product_detail_info ul li.icon div span{
	line-height:45px;
	padding-left:45px;
}
.product_detail_info ul li.info span{
	width:75px;
	background-color:#ccc;
	font-weight:bold;
	padding:5px;
	margin-right:10px;
	display:inline-block;
	text-align:center;
}
.product_detail_info ul li.price span{
	width:75px;
	font-weight:bold;
	color:#fff;
	background-color:#A40000;
	padding:5px 10px;
	margin-right:10px;
	display:inline-block;
	text-align:center;
}
.product_detail_info p.icon img{
	padding:3px;
}
.product_detail_info div.icon_bottom{
	text-align:right;
}
.product_detail_info div.icon_bottom img{
	padding:5px 3px;
}

.product_style_box table.product_style_tbl *{
	text-align:center;
}
.product_style_box table.product_style_tbl th{
	font-weight:bold;
}
.product_style_box .r-btn p{
	padding:5px;
}

.product_description h2{
	border:1px solid #ccc;
	background-color:#EFEFEF;
	font-size:150%;
	padding:5px 10px;
}

.product_description .box{
	padding:20px;
	border:1px solid #ccc;	
}
.product_description .box h3{
	font-size:120%;
	padding:10px 0px 0px 0px;
	font-weight:normal;
}
.product_description .box p{
	padding:10px 0px;
	border-bottom:1px dotted #ccc;
}
.product_description .box p:last-child{
	border-bottom:none;
}


/*商品リスト*/
.review_product_list{
	overflow:hidden;
	width:100%;
}
.review_product_list h2{
	border:1px solid #ccc;
	background-color:#EFEFEF;
	font-size:150%;
	padding:5px 10px;
}

.review_product_list .l-btn{
	float:left;
	margin-top:-300px;
	font-size:200%;
}
.review_product_list .l-btn a{
	display:block;
	padding:3px;
	background-color:#EFEFEF;
	color:#fff;
}
.review_product_list .l-btn a:hover{
	text-decoration:none;
}

.review_product_list .r-btn{
	float:right;
	margin-top:-300px;
	font-size:200%;
}
.review_product_list .r-btn a{
	display:block;
	padding:3px;
	background-color:#EFEFEF;
	color:#fff;
}
.review_product_list .r-btn a:hover{
	text-decoration:none;
}

.review_product_list .body {
	margin:5px 30px;
}
.review_product_list .body section{
	color:#000;
	width: 12%;
	display: inline-block;
}
.review_product_list .body section .warp{
	background-color:#F7F7F7;
	border:1px solid #ccc;
	padding:8px 5px;
	margin:10px 2px;
}
.review_product_list .body section div.img{
	padding:5px 0px;
}
.review_product_list .body section div.img img{
	width:148px;
}
.review_product_list .body section h3{
	background-color:#52BDE9;
	color:#fff;
	text-align:center;
}
.review_product_list .body section p.icon{
	padding:5px 0px;
}
.review_product_list .body section p.icon img{
	padding:0px 2px;
}
.review_product_list .body section p.content{
	padding:5px 0px;
}
.review_product_list .body section p.price{
	padding:5px 0px;
}
.review_product_list .body section div.member_price{
	padding:5px 0px;
}
.review_product_list .body section div.member_price em{
	color:#A50000;
	font-style:normal;
}
.review_product_list .body section div.member_price strong{
	color:#A50000;
	font-size:180%;
}
.review_product_list .body section div.count{
	line-height:25px;
}
.review_product_list .body section div.count *{
	display:inline-block;
	vertical-align:middle;
}
.review_product_list .body section div.count img{
}
.review_product_list .body section div.count input{
	margin:0px 3px;
}
.review_product_list .body section .btn_favorite{
	padding:5px 0px;
}
.review_product_list .body section .btn_regist{
	text-align:center;
	padding:2px;
	background-color:#FEEAD1;
}
.review_product_list .body .btn_regist p{
	padding:10px;
}
#scrollbox {overflow:hidden;width:719px;}
#scrollbox section {FLOAT:left;width:170px;_width:170px;min-height:200px;_height:200px;vertical-align:top;min-height:18px;text-align:center;padding:0px;overflow:hidden;}
.pointer {CURSOR: pointer}


.review_product_list .scrollable {
  position:relative;
  overflow:hidden;
  width: 100%;
  height:460px;
}
 
.review_product_list .scrollable .items {
  width:20000em;
  position:absolute;
}
 
.review_product_list .items div {
  float:left;
  width:auto;
}

.review_product_list .scrollable {
    float:left;
}

.review_product_list a.browse {
    /*display:block;*/
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
	position:absolute;
	font-size: 200%;
	background-color: #EFEFEF;
	color: #fff;
	line-height:30px;
	text-align:center;
	margin-top:30%;
}

/* right */
.review_product_list a.right { clear:right; margin-right: 0px; right:0px;}
.review_product_list a.right:hover { background-color: #666; }
.review_product_list a.right:active { background-color: #999; }


/* left */
.review_product_list a.left { margin-left: 0px; }
.review_product_list a.left:hover  { background-color: #666; }
.review_product_list a.left:active { background-color: #999; }

/* disabled navigational button */
.review_product_list a.disabled {
    visibility:hidden !important;
}


/*お問い合わせ画面*/

.question_box table{
	
}
.question_box table th{
	width:20%;
	background-color:#EFEBF7;
}
.question_box > .btn{
	text-align:center;
}

/*マイページ*/

.special_list > ul > li{
	display:inline-block;
	text-align:center;
	padding:5px 0px;
}

.mypage_orderlist_condition{
	border: 1px solid #ccc;
	margin-bottom:20px;
}

#mypagecolumn .mypage_orderlist_condition > h3{
	border-bottom: 1px solid #ccc;
	background-image: url(../img/page/mypage/icon_search.png);
	background-repeat:no-repeat;
	background-position:25px 50%;
	font-size: 100%;
	padding-left:50px;
}
.mypage_orderlist_condition > div{
	padding:5px 0px;
}
.mypage_orderlist_condition > div > h4{
	border-bottom: 1px dashed #ccc;
	font-size: 120%;
	padding:5px 25px;
}
.mypage_orderlist_condition > div > div > select{
	margin:5px;
}
.mypage_orderlist_condition > div > div > input{
	margin:5px;
}
.mypage_orderlist_condition > div > div > .btn{
	float:right;
}
.mypage_orderlist_condition > div > div{
	border-bottom: 1px solid #ccc;
	font-size: 120%;
	padding:5px 25px;
	font-weight:bold;
}
.mypage_orderlist_condition > div > span{
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	padding: 0px 5px;
}


#mypagecolumn .paginator {
	padding:10px 25px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
#mypagecolumn .paginator > p{
	display:inline-block;
}
#mypagecolumn .paginator > ul{
	display:inline-block;
	float:right;
}
#mypagecolumn .paginator > ul > li{
	display:inline-block;
}
#mypagecolumn .paginator > ul > li > a:link{
	color:#000;
	text-decoration:underline;
}
#mypagecolumn .paginator > ul > li > a.current{
	font-weight:bold;
	text-decoration:none;
}

#mypagecolumn .special_list > ul{
	padding:15px 5px;
}

.search_navi_box{
	background-color:#f9fdff;
	border-radius:5px;
	border:2px solid #4b99e3;
	padding:5px 15px;
	margin:3px auto;
	width:926px;
}
.search_navi_box > div {
	padding: 15px;
}
.search_navi_box > div > span {
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.search_navi_box > div > label {
	color: #4d93d9;
	font-weight: bold;
	font-size: 110%;
	border-left: 5px solid #4d93d9;
	padding-left: 7px;
	padding-right: 25px;
	display: inline-block;
	text-align: left;
}
.search_navi_box > div > span > input[type="text"] {
	background-color: #e9e9e9;
	border-radius: 5px;
	padding: 5px 30px 5px 10px;
	width:90px;
}
.search_navi_box > div > span > input[type="image"] {
	position: absolute;
	top: 2px;
	right: 3px;
}



#categorytree > li {
  position: relative;
  float: left;
  margin: 0;
  width: 200px;
  height: 47px;
  border: solid 1px #ccc;
  font-weight: bold;
}
#categorytree > li:hover {
  color: #fff;
  background: #333;
}
#categorytree > li > ul {
  display: none;
  position: absolute;
  top: 0px;
  left: 200px;
  padding: 5px;
  width: 220px;
  background: #fff0eb;
  border: solid 1px #ccc;
  z-index:10;
  border:1px solid #f78465;
}
#categorytree > li > ul > li {
  margin: 0;
  padding: 0;
  width: 220px;
  border-bottom:1px dashed #ccc;
  
}
#categorytree > li > ul > li:last-child {
  border:none;
  
}
#categorytree > li > ul > .submenu_icon {
  position:absolute;
  left:-11px;
  top:20px;
}
#categorytree > li > ul > li  span {
  display: inline-block;
  height: 20px;
  color:#f78465;
  font-weight:bold;
  padding:0px 8x;
}
#categorytree > li > ul > li  a {
  display: inline-block;
  width: auto;
  padding:8px 5px;
}
#categorytree > li > ul > li  a:hover {
  background: #999;
  color: #fff;
}


/*新着商品*/

.new_product_box {
	padding:10px 0px;
}
.new_product_box h2{
	position:relative;
	margin:5px 0px 10px 0px;
}
.new_product_box h2 span{
}
.new_product_box h2 span a{
	position:absolute;
	right:0px;
	top:0px;
	display:block;
	line-height:140%;
	padding:7px;
	width:140px;
	text-indent:-9999px;
}

.new_product_box .body section{
	color:#000;
}
.new_product_box .body section .warp{
	background-color:#F7F7F7;
	border:1px solid #ccc;
	padding:8px;
	margin:10px 2px;
}
.new_product_box .body section div.img{
	padding:5px 0px;
}
.new_product_box .body section h3{
	color:#333;
}
.new_product_box .body section p.icon{
	padding:5px 0px;
}
.new_product_box .body section p.icon img{
	padding:0px 2px;
}
.new_product_box .body section p.content{
	padding:5px 0px;
}
.new_product_box .body section p.price{
	padding:5px 0px;
	color:#333;
	font-weight:normal;
}
.new_product_box .body section div.member_price{
	padding:5px 0px;
}
.new_product_box .body section div.member_price em{
	color:#A50000;
	font-style:normal;
}
.new_product_box .body section div.member_price strong{
	color:#A50000;
	font-size:180%;
}
.new_product_box .body section div.count{
	line-height:25px;
}
.new_product_box .body section div.count *{
	display:inline-block;
	vertical-align:middle;
}
.new_product_box .body section div.count img{
}
.new_product_box .body section div.count input{
	margin:0px 2px;
}
.new_product_box .body section .btn_favorite{
	padding:5px 0px;
}
.new_product_box .body section .btn_regist{
	text-align:center;
	padding:10px;
	background-color:#FEEAD1;
}
.new_product_box .body .btn_regist p{
	padding-bottom:10px;
}

/*top_bnr_box*/
.top_bnr_box div{
	padding:0px 0px 5px 0px;
}



.bottom_sitemap_box{
	border-radius: 5px;
	background-color: #F5F5F5;
	width: 960px;
	margin: 20px auto 30px auto;
	padding:0px;
}
.bottom_sitemap_box section{
	text-align:left;
	padding:15px 23px;
	border-bottom:1px solid #ddd;
}
.bottom_sitemap_box section:last-child{
	border:none;	
}
.bottom_sitemap_box h3{
	font-size:14px;
	display:inline-block;
	width:17%;
	vertical-align:top;
}
.bottom_sitemap_box ul{
	display:inline-block;
	width:82%;
}
.bottom_sitemap_box ul li{
	display:inline-block;
	padding:0px 5px;
	border-right:1px solid #ddd;
}
.bottom_sitemap_box ul li:last-child{
	border-right:none;
}
.bottom_sitemap_box ul li a{
}